
hosts.conf

**/secrets/
**/secrets$

roles/*/files/secrets/
roles/*/files/secrets

roles/node/files/etc/ssh/authorized_keys

roles/solr3/files/etc/solr/schema.xml
roles/solr4/files/etc/solr/*/conf/schema.xml
